@model ProductVM
@{
    ViewData["Title"] = "ProductOfCategories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section-content padding-y bg">
    <div class="container">

        <div class="row">

            <main class="col-md-9">
                <!-- ============================ COMPONENT 1  ================================= -->
            
                @foreach (var product in Model.Products)
                {
                    <article class="card card-product-list">
                        <div class="card-body">
                            <div class="row">
                                <aside class="col-sm-4">
                                    <a href="/@product.ID" class="img-wrap"><img src="~/images/products/@product.ImagePath"></a>
                                </aside> <!-- col.// -->
                                <div class="col-sm-8">

                                    <a href="~/@product.ID" class="title mt-2 h5">@product.ProductName</a>
                                    <div class="d-flex mb-3">
                                        <div class="price-wrap mr-4">
                                            <span class="price h5">@product.Price</span>
                                        </div>
                                    </div>
                                    <div class="d-flex mb-3">
                                        <div class="rating-wrap">
                                            <ul class="list-bullet">
                                                <li>@product.ProductName</li>

                                            </ul>
                                        </div>


                                    </div>
                                    <br />
                                    <br />
                                    <div class="d-flex mb-3">
                                        <div class="form-group col-md">
                                            <a asp-action="AddToCart" asp-controller="Cart" asp-route-id="@product.ID" class="btn btn-outline-primary"> <span class="text">Sepete Ekle</span> <i class="fas fa-shopping-cart"></i>  </a>

                                        </div>
                                    </div>
                                    <!-- price-dewrap // -->
                                    <!-- row.// -->

                                </div> <!-- col.// -->
                            </div> <!-- row.// -->
                        </div> <!-- card-body .// -->
                    </article>
                }

            </main> <!-- col.// -->
            <aside class="col-md-3">
                <!-- COMPONENTS SIDEBAR -->
                <output>
                    @*<div class="card">
                        <article class="filter-group">
                            <header class="card-header">
                                <a href="#" data-toggle="collapse" data-target="#collapse_aside1">
                                    <i class="icon-control fa fa-chevron-down"></i>
                                    <h6 class="title">Kategoriler </h6>
                                </a>
                            </header>
                            <div class="filter-content collapse show" id="collapse_aside1">
                                <div class="card-body">
                                    <ul class="list-menu">
                                        @foreach (var item in Model.Products)
                                        {
                                            <li>
                                                <a asp-action="ProductOfCategories" asp-controller="Product" class="button button-block button-bold button--primary" asp-route-id="@item.ID">
                                                    @Model.Categories.Where(x => x.ID == item.CategoryId).FirstOrDefault().CategoryName
                                                </a>
                                            </li>
                                        }

                                    </ul>

                                </div>  card-body.// 
                            </div>
                        </article>  filter-group  .// 
                         filter-group  .// 
                    </div>*@ <!-- card.// -->
                </output>
                <!-- COMPONENTS SIDEBAR END .// -->
            </aside>


        </div> <!-- row.// -->

    </div> <!-- container .//  -->
</section>


@section scripts{
    <script>
    $('#addToCart').click(function () {

        var path = '/Cart/AddToCart/' + this.id;
        $.ajax({
                type: 'GET',
                url: path
        });
     });


    </script>
}