@model AppUserVM
@using Microsoft.AspNetCore.Identity
@inject SignInManager<DAL.Entity.AppUser> signInManager;
@inject UserManager<DAL.Entity.AppUser> userManager;
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page">My account</h2>
    </div> <!-- container //  -->
</section>
<section class="section-content padding-y">
    <div class="container">

        <div class="row">
            <aside class="col-md-3">
                <ul class="list-group">
                    <a asp-action="Profile" asp-controller="Account" asp-area="Member" class="btn btn-info">Profile</a>

                </ul>
            </aside> <!-- col.// -->
            <main class="col-md-9">

                <article class="card">
                    <header class="card-header">
                        @if (signInManager.IsSignedIn(User))
                        {
                            <strong>Keyifli Alışverişler @User.Identity.Name </strong>
                        }
                        else
                        {
                            <div>
                                <a asp-action="Login" asp-controller="Account" asp-area="Member"> Giriş Yap</a> |
                                <a asp-action="Register" asp-controller="Account" asp-area="Member"> Kayıt Ol</a>
                            </div>
                        }
                    </header>
                    <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="text-muted">Adreslerim</h6>
                            @if (Model.UserAdresses.Count > 0)
                            {
                                @foreach (var item in Model.UserAdresses)
                                {
                                    <article class="list-group-item">
                                        <header class="filter-header">
                                            <a href="#" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" class="">
                                                <i class="icon-control fa fa-chevron-down"></i>
                                                <h6 class="title">@item.AdressName</h6>
                                            </a>
                                        </header>
                                        <div class="filter-content collapse show" id="collapse1" style="">
                                            <p>Ad : @item.FirstName</p>
                                            <p>Soyad : @item.LastName</p><br />
                                            <p>TCNo: @item.TCNo</p><br />
                                            <p>Şehir: @item.City /</p>
                                            <p>Ülke: @item.Town</p><br />
                                            <p>  Email: @item.Email</p><br />
                                            <p>Telefon: @item.Phone</p><br />
                                            <p>  Adres: @item.FullAdress</p>
                                            
                                        </div>
                                    </article>
                                }
                            }
                            else
                            {
                                <a asp-controller="Cart" asp-action="DeliveryAdd" class="btn btn-primary btn-block"> Teslimat Adresi Ekle </a>
                            }
                        </div>
                    </div>
                        <article class="card-group">
                            <div class="card-body">
                                <table class="table table-bordered table-hover" id="orders">
                                    <thead>
                                        <tr>
                                            <th>Sipariş ID</th>
                                            <th>Kullanıcı Adı</th>
                                            <th>E-Mail</th>
                                            <th>Sipariş Tarihi</th>
                                            <th>Sipariş Onay Durumu</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.Orders.Count() == 0)
                                        {
                                            <tr>
                                                <td colspan="3">
                                                    <div class="container text-center">
                                                        <div class="alert alert-warning">
                                                            <span>Herhangi bir sipariş oluşturulmamış</span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                        else
                                        {
                                            foreach (var item in Model.Orders)
                                            {
                                                <tr>
                                                    <td>@item.MasterId</td>
                                                    <td>@userManager.FindByIdAsync(item.AppUserID.ToString()).Result.UserName</td>
                                                    <td>@userManager.FindByIdAsync(item.AppUserID.ToString()).Result.Email</td>
                                                    <td>@item.CreatedDate</td>
                                                    @switch (item.Confirmed)
                                                    {
                                                        case false:
                                                            <td><span>Onay bekliyor</span></td>
                                                            break;
                                                        case true:
                                                            <td><span>Onaylandı</span></td>
                                                            break;
                                                    }
                                                    <td>
                                                        <a asp-action="Details" asp-controller="Account" asp-area="Member" asp-route-id="@item.ID" class="btn btn-info">Sipariş Detayı</a>
                                                       
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </article>


                    </div> <!-- card-body .// -->
                </article> <!-- card.// -->

                 <!-- card.// -->

            </main> <!-- col.// -->
        </div>

    </div> <!-- container .//  -->
</section>
